---
title: index.html
date: 2018-04-12 18:33:00 -07:00
---

<html>

    <head>
        <title>Life, Work Integration with Jamie Douraghy</title>
		{% include Head.html %}
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>

    <body>
        <div id="loader">
            <div id="progress-bar"></div>
        </div>
        <div id="main-container">
		{% assign sections = site.sections | sort:"position" %}
		{% for section in sections %}
		{% endfor %}
	 	{% include Section1.html %}
	 	{% include Section2.html %}
	 	{% include Section3.html %}
        </div>
        <!--end main container-->
        {% include Scripts.html %}
		<script>
		  if (window.netlifyIdentity) {
			window.netlifyIdentity.on("init", user => {
			  if (!user) {
				window.netlifyIdentity.on("login", () => {
				  document.location.href = "/admin/";
				});
			  }
			});
		  }
		</script>
    </body>

</html>