<a id="about-scroll"></a>
<section class="pad-large" id="about">
<div class="row">
<div class="medium-12 columns text-center">
<div class="page-title">
<h6 class="alt-h">About Us</h6>
<div class="medium-4 line">
<div class="icon icon-{module_webapps,19769,i,4657706}"></div>
</div>
<h1>We're an earthy bunch of hipsters</h1>
</div>
</div>
</div>
<div class="row">
<div class="medium-12 columns text-center">
<p class="lead">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>
</div>
</div>
<div class="row">
{module_webapps,19765,a}</div>
</section>