<a id="about-scroll"></a>
{% for section in site.sections | where: "label", "about" %}
<section class="pad-large" id="about">
	<div class="row">
		<div class="medium-12 columns text-center">
			<div class="page-title">
				<h6 class="alt-h">Move Up</h6>
				<div class="medium-2 line">&nbsp;</div>
				<div style="background-image: none; padding: 0px 8px; font-size: 30px; color: #b6a591; position: relative; bottom: 8px;" class="icon icon-rainy">&nbsp;</div>
				<div class="medium-2 line">&nbsp;</div>
				<h1>{{section.Heading}}-1{{post.collection}}-2{{page.collection.label}}-</h1> </div>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns text-center">
		{{section.content | markdownify}}
		</div>
	</div>
</section>
{% endfor %}