<section class="content-divider pad-top">
<div class="row">
<div class="medium-6 columns text-center">
<div class="pricing-table shrink">
<h1>Wicked Features</h1>
<div class="line"></div>
<ul>
    <li>2 Unique Layouts</li>
    <li>Fully Responsive Design</li>
    <li>Inline Projects via AJAX</li>
    <li>Full Blog Layouts</li>
    <li>Working Contact Form</li>
    <li>Parallax Goodness</li>
</ul>
<div class="line"></div>
<div class="medium-12 btn-holder">
<a href="#">
<div class="btn">
<h6 class="alt-h">Purchase</h6>
</div>
</a>
<span><em>or</em></span>
<a href="#">
<div class="btn">
<h6 class="alt-h">Follow</h6>
</div>
</a>
</div>
</div>
</div>
<!--end of pricing table-->
<div class="medium-6 columns text-center">
<img src="/_assets/img/phone.jpg" alt="Divider Image" />
</div>
</div>
</section><!--end of content divider-->