<link rel="stylesheet" href="/assets/css/foundation.css" />
<link rel="stylesheet" href="/assets/css/flexslider.css" />
<link rel="stylesheet" href="/assets/css/icons.css" />
<link rel="stylesheet" href="/assets/css/social-icons.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="/assets/css/responsive.css" />
<script src="/assets/js/vendor/modernizr.js"></script>
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CCardo:400,400italic%7CPathway+Gothic+One" rel="stylesheet" type="text/css" />
