<a id="pricing-scroll"></a>
<section class="text-divider pad-large bg-cover" id="pricing">
<img src="/_assets/img/forest.jpg" class="divider-bg" alt="Slider Background" />
<div class="divider-overlay"></div>
<div class="row divider-content">
<div class="medium-4 columns text-center">
<div class="pricing-table shrink">
<h1 class="text-white">Basic</h1>
<div class="line"></div>
<ul>
    <li>100 Unique Logins</li>
    <li>500GB Cloud Storage</li>
    <li>Remote Support</li>
    <li>Secure Backup</li>
</ul>
<div class="line"></div>
<div class="price">
<span class="dollar">$</span>
<span class="amount">29</span>
<span class="terms">pm.</span>
</div>
<a href="#">
<div class="white-btn btn">
<h6 class="alt-h text-white">Sign Up</h6>
</div>
</a>
</div>
</div>
<!--end of pricing table-->
<div class="medium-4 columns text-center">
<div class="pricing-table">
<h1 class="text-white">Value</h1>
<div class="line"></div>
<ul>
    <li>200 Unique Logins</li>
    <li>700GB Cloud Storage</li>
    <li>Remote Support</li>
    <li>Secure Backup</li>
</ul>
<div class="line"></div>
<div class="price">
<span class="dollar">$</span>
<span class="amount">69</span>
<span class="terms">pm.</span>
</div>
<a href="#">
<div class="white-btn btn">
<h6 class="alt-h text-white">Sign Up</h6>
</div>
</a>
</div>
</div>
<!--end of pricing table-->
<div class="medium-4 columns text-center">
<div class="pricing-table shrink">
<h1 class="text-white">Heavy</h1>
<div class="line"></div>
<ul>
    <li>700 Unique Logins</li>
    <li>900GB Cloud Storage</li>
    <li>Remote Support</li>
    <li>Secure Backup</li>
</ul>
<div class="line"></div>
<div class="price">
<span class="dollar">$</span>
<span class="amount">99</span>
<span class="terms">pm.</span>
</div>
<a href="#">
<div class="white-btn btn">
<h6 class="alt-h text-white">Sign Up</h6>
</div>
</a>
</div>
</div>
<!--end of pricing table-->
</div>
<div class="row divider-content space-top-large">
<div class="medium-12 columns text-center">
<h1 class="text-white">Get in touch for more super pricing</h1>
<a class="smooth-scroll" href="#contact-scroll">
<div class="btn white-btn space-top">
<h6 class="alt-h text-white">Let's Talk</h6>
</div>
</a>
</div>
</div>
</section><!--end of pricing section-->