<a id="pricing-scroll"></a>
<section class="text-divider pad-large bg-cover" id="pricing"> <img src="/_assets/img/backgrounds/new_cliffside.jpg" class="divider-bg" alt="Cliffside Ocean" ice:editable="image">
	<div class="divider-overlay">&nbsp;</div>
	<div class="row divider-content">
		<div class="medium-9 medium-centered text-center columns">
			<h1 class="text-white" ice:editable="line">Align Your Why, How, What</h1>
			<div class="page-title">
				<div style="background-color: #ffffff;" class="medium-2 line">&nbsp;</div>
				<div style="background-image: none; padding: 0px 8px; font-size: 30px; color: #ffffff; position: relative; bottom: 8px;" class="icon icon_lock-open_alt">&nbsp;</div>
				<div style="background-color: #ffffff;" class="medium-2 line">&nbsp;</div>
			</div>
			<p class="text-white lead" ice:editable="line">We usually know how we go about doing things. We know very well what we do. We rarely know why we do what we do. The key discovery
				through integrating life and work is when you align your WHY,&nbsp;HOW and WHAT, (The WHY Stack). </p>
			<p class="text-white lead" ice:editable="line">Once you know your WHY Stack, you'll know your way. You will integrate passion, purpose, and energy all in one meaningful
				direction.</p>
			<p class="text-white lead" ice:editable="line">From there, we’ll work to uncover what’s at your core – what drives you towards your purpose and your vision. Then we’ll develop personalized
				strategies to implement in your life and work that will greatly change you for the better.&nbsp;&nbsp;</p>
			<p class="text-white lead" ice:editable="line">Download the 9 Whys here.                        
				 </p>
		</div>
	</div>
	<div class="row divider-content space-top-large">
		<div class="medium-12 columns text-center"> <img src="/_assets/img/mountain-goat-avatar.png" alt="Mountain Goat Avatar" ice:editable="image">
			<h1 class="text-white" ice:editable="line">Start Your Journey Now</h1>
			<a class="smooth-scroll" href="#contact-scroll">
				<div class="btn white-btn space-top">
					<h6 class="alt-h text-white" ice:editable="line">Let’s Talk</h6> </div>
			</a>
		</div>
	</div>
</section>
