<a id="transform-scroll"></a>
{% for section in site.section6 | sort:"position" %}
<section class="content-divider pad-top">
	<div class="row">
		<div class="medium-6 columns text-center">
			<div class="pricing-table shrink">
				<h1>{{section.title}}</h1>
				<div class="medium-4 line">
					<div class="icon icon_lightbulb" style="background-color: #f7f7f7;">&nbsp;</div>
				</div>
				{{section.content | markdownify}}
				<div class="line">&nbsp;</div>
				<div class="service-icon"> <img src="/assets/img/life-work-integration-small-logo.png" alt="Life Work Integration Small Logo"> </div>
				<div class="medium-12 btn-holder">&nbsp;</div>
			</div>
		</div>
		<!--end of pricing table-->
		<div class="medium-6 columns text-center"> <img src="{{section.Image}}" alt=""> </div>
	</div>
</section>
{% endfor %}