<a id="home-scroll"></a>
<section id="home">
	<div id="home-slider">
		<ul class="slides">
			{% for slide in site.section1 %} 
			<li class="has-parallax cover-bg">
				<div class="row slide-content text-center">
					<div class="medium-12 medium-centered columns">
						<img src="/assets/img/life-work-integration-logo.png" alt="logo" class="headline-logo" /> 
						<div class="home-title offix">
							<div class="medium-5 title-top left">
							</div>
							<div class="medium-2 left">
								&nbsp;
							</div>
							<div class="medium-5 title-top left">
							</div>
							<div class="title-upper offix">
								<a href="mailto:{{site.Email}}">
									<h6 class="left alt-h text-white">
										{{site.Email}}
									</h6>
								</a>
								<a href="tel:+1{{site.Phone}}">
									<h6 class="right alt-h text-white">
										{{site.Phone}}
									</h6>
								</a>
							</div>
							<h1 class="headline">
								{{slide.Headline}}
							</h1>
							<div class="title-lower">
								<p class="text-white">
									<em>{{slide.['Slide txt']}}</em>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="slide-overlay">
					&nbsp;
				</div>
				<img src="{{slide.['Slide Image']}}" class="slider-bg" alt="Slider Background"> 
			</li>
<!--end of individual slide-->
			{% endfor %} 
		</ul>
<!--end of home slider app-->
	</div>
<!--end of home-slider-->
</section>
