{% for section in site.section7 | sort:"position" %}
<section class="pad-large" id="work">
	<div class="projects-wrapper offix">
		<div class="projects-container">
		{% for image in site.section7.images | sort:"position" %}
			<div class="small-12 medium-4 print project">
				<div class="project-image-wrapper"> <img src="{{image.image}} alt="{{image.alt}}"> </div>
				<div class="project-title text-center">
					<h3 ice:editable="line">Intent</h3>
				</div>
			</div>
		{% endfor %}
		</div>
		<!--end of projects container-->
		<div class="project-body">
			<div class="row">
				<div class="medium-12 columns text-center">
					<a id="work-scroll"></a>
					<div class="page-title">
						<h1 ice:editable="line">&nbsp;</h1>
						<h6 class="alt-h" ice:editable="line">An Integrated Life</h6>
						<div class="medium-2 line">&nbsp;</div>
						<div style="background-image: none; padding: 0px 8px; font-size: 30px; color: #b6a591; position: relative; bottom: 8px;" class="icon icon-pencil-ruler">&nbsp;</div>
						<div class="medium-2 line">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-8 columns">
				<div>
					<ul class="slides">
						<li> <img src="/assets/img/winter-forest-slide.jpg" alt="Winter Forest"> </li>
					</ul>
				</div>
			</div>
			<div class="medium-4 columns project-text" ice:editable="html">
				<h2>Connect With Your <em>WHY</em></h2>
				<p>As a leader, your work is an integral part of your life. Trying to separate work from the rest of your life, will no longer be
					a challenge, once you find more meaning in your work.</p>
				<p>In today’s world, one doesn’t exist without the other. The key is connecting with your <em>WHY</em> which allows you to make better
					decisions through <em>HOW</em> you do <em>WHAT</em> you do. I will enable you to navigate challenges while clearly defining
					your goals. And, help you achieve these goals while maintaining a healthy, integrated life.</p>
			</div>
		</div>
		<!--end of project-single-->
	</div>
	<!--end of projects wrapper-->
</section>
{% endfor %}
