<a id="testimonials-scroll"></a>
<section class="text-divider pad-large bg-cover" id="testimonials"> 
	<img src="/assets/img/backgrounds/new_asian.jpg" class="divider-bg" alt="Asian Pagoda">
	<div class="divider-overlay">&nbsp;</div>
	<div class="testimonials-slider">
		<ul class="slides text-center">
			{% assign sections = site.sections | where: 'title', 'Testimonials' %}
			{% for section in sections %}
			<li>
				<div class="row divider-content">
					<div class="medium-9 medium-centered columns">
						<h1 class="text-white">{{section.Heading}}</h1>
						<p class="text-white lead">{{section.Txt}}</p>
						<img src="/assets/img/life-work-integration-logo-avatar.png" alt="Life Work Integration Logo Avatar">
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
