<a id="work-scroll"></a>
<section class="pad-large" id="work">
    <div class="row">
        <div class="medium-12 columns text-center">
            <div class="page-title">
                <h6 class="alt-h">Our Work</h6>
                <div class="medium-4 line">
                    <div class="icon icon-camera-1">&nbsp;</div>
                </div>
                <h1>Interview, Articles &amp; Experiences<br /></h1> </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns text-center">
            <p class="lead"> I am fortunate to be able to hold workshops and speaking engagements throughout the world.&nbsp; Living an integrated life, meeting great entrepreneurs,
                and helping plan a life work strategy is what I am passionate about.
                <br /> </p>
        </div>
    </div>
    <div class="projects-wrapper offix">
        <div class="row">
            <div class="medium-12 columns text-center">
                <ul class="filters">
                    <li data-category="all">
                        <div class="active btn">Show All</div>
                    </li>
                    <li data-category="web">
                        <div class="btn">Events</div>
                    </li>
                    <li data-category="print">
                        <div class="btn">Workshop</div>
                    </li>
                    <li data-category="branding">
                        <div class="btn">Retreats
                            <br /> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="projects-container"> {module_webapps id="Work" filter="all"}</div>
        <!--end of projects container-->
        <div data-container="container1" class="ajax-container">&nbsp;</div>
        <!--end of ajax container-->
    </div>
    <!--end of projects wrapper-->
    <div class="row">
        <div class="medium-12 columns text-center">
            <h1>Get in touch to discuss your next event.</h1>
            <a class="smooth-scroll" href="#contact-scroll">
                <div class="btn space-top">
                    <h6 class="alt-h">Let's Talk</h6> </div>
            </a>
        </div>
    </div>
</section>
<!--end of work section-->